@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    font-family: 'VT323';
}

label {
    font-family: 'VT323', monospace;
    color: white;
}